<div class="text-center">
<h1 class="display-3">{{message}}</h1>
<a href="/business/add" class="btn btn-dark btn-lg">Register Company</a>
</div>
<div> 
<p>ClockIN is a webApp to help Keep tabs on your hourly employees</p>

</div>