<div class="container-fluid card">
    <h3>Tell us about your business</h3>
    <form action="/user/AddBusiness" method="POST">
        <div class="form-group">
            <label for="businessName" > Business Name</label>
            <input type="text" class="form-control" name="businessName" required="required">
        </div>
       
        <div class="form-group"> 
            <label for="industry">Industry</label>
            <input type="text" class="form-control"
            placeholder="gardening, construccion, housekeeping " name="industry" > 

        </div>
        <div>
           <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
        
    </form>
</div>