<div class="container-fluid card">
    <h3>Tell us about your business</h3>
    <form action="/business" method="POST">
        <div class="form-group">
            <label for="businessName" > Business Name</label>
            <input type="text" class="form-control" name="businessName" required="required">
        </div>
        <div class="form-group">

            <!--We need some client/server validation to make sure they write emails @   .com   -->
            <label for="email">Email address</label>
            <input type="email"  maxLength="64" class="form-control" name="email" required="required" placeholder="youremail@company.com" >
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group"> 
            <label for="industry">Industry</label>
            <input type="text" class="form-control"
            placeholder="gardening, construccion, housekeeping " name="industry" > 

        </div>
        <div>
           <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
        
    </form>
</div>