<div class="text-center">
<h1 class="display-3">Email confirmation was sent to {{message}}</h1>
<input id="confirmationCode"> 
</div>
<div> 
<p>ClockIN is a webApp to help Keep tabs on your hourly employees</p>

</div>