<div class="text-center">
 <!-- Wheere it says message in habdlebars. Show the email taken from the form that was filled in  -->   
    <h1 class="display-3">Email confirmation was sent to {{message}}</h1>

     <div>
      <input id="confirmationCode" placeholder="Confirmation Code"> 
     </div>

</div>

<div> 
<p>Check spam folder.</p>
</div>