<h1>create user</h1>

<div class="container">
    <form    method="POST">
        <div class="form-group">
            <label for="email" >Email</label>
            <input type="email"  maxLength="64" class="form-control" name="email" required="required" placeholder="youremail@company.com" >
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <div class="form-group">
            <label for="inputPassword" >Password</label>
            
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>

         <div class="form-group">
            <label for="inputPassword">Confirm Password</label>
            
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Which one are you?</label>
            <select class="form-control" id="exampleFormControlSelect1">
                 <option>Business/Negocio</option>
                 <option>Employee/Empleado</option>
             </select>
        </div>

        <button type="submit" class="btn btn-primary"> Submit</button>
        
    </form>


</div>