<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img class="logo" src="/img/pigeons.png">
            <h3 class="text-center">Login</h3>
            <form action="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/create_Account" class="btn btn-primary ">Sign Up</a>
                <a href="/PasswordReset" class="btn btn-primary ">Forgot Password</a>
            </form>
        </div>
    </div>
</div>